footer .container{
  background-color: #0f3460;
  padding: 100px 40px;
  color: #fff;
   display: grid;
   grid-template-columns: repeat(auto-fit ,minmax(18rem, 1fr));
   gap: 1.5rem;
  
  /* width: 100%; */

}
footer{
  width: 100%;
}
footer .container .box p{
  color: #fff;
  /* background-color: #e94560; */
  display: flex;
  justify-content: center;
}
footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 800;
  font-style: italic;
  cursor: pointer;
}
footer .icon{
   /* background-color: aqua;  */
   display: flex;
   flex-direction: column; 
  flex-wrap: wrap;
  width: fit-content;

}
footer .img {
  /* display: flex; */
  background-color: #1751c5;
  justify-content: space-between;
  /* background-color: #0c2a4d; */
  cursor: pointer;
  padding: 15px 20px;
  margin: 10px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
  cursor: pointer;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  /* opacity: 0.5; */
  margin-bottom: 20px;
  cursor: pointer;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}
@media screen and (max-width:1000px){
  footer .box{
    display: flex;
    flex-direction: column;

}



} 
@media screen and (max-width:450px){

  footer .container{
    display: flex;
    flex-direction: column;
  
  }

} 